.main {
  font-family: monospace;

  background-color: white;
  padding: 0.5rem;
  .preferenceControlElement {
    padding: 1rem 0;
    border-bottom: 1px dashed black;
    .h3 {
      font-size: 2.6rem;
      padding: 0.5rem 1rem;
      background-color: white;
    }

    .details {
      padding: 0.5rem;
      background-color: white;
    }

    .form {
      background-color: white;

      .status {
        padding: 0.5rem;
      }
      .h4 {
        font-size: 2.2rem;
        padding: 0.5rem 1rem;
      }

      .inputGroup {
        background-color: white;
        padding: 0.5rem;

        .label {
          display: block;
          padding: 0.5rem;
          font-size: 1.6rem;
        }
        .input {
          font-family: inherit;
          font-size: 2rem;
          padding: 0.5rem;
          border: none;
          border-bottom: 1px solid lightgray;
          outline: none;
          &::placeholder {
            color: rgb(233, 233, 233);
          }
          &:focus {
            border-bottom: 1px solid black;
          }

          display: block;
          width: 100%;
        }
      }
    }
    .button {
      background-color: var(--primary-blue);
      color: white;
      display: block;
      width: 100%;
      padding: 1rem;
      font-size: 2rem;
      font-family: inherit;
    }
  }
}
